body {
    font-family: 'KaiTi', sans-serif;  /* 楷体字体 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 10px;
    background: #007acc;
    color: white;
}

header img {
    border-radius: 60%;
    margin-top: 5px;
}

section {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: 'KaiTi', sans-serif;
    color: #007acc;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
